<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/lookup.css" type="text/css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css">

    <!--sweetalert-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!--제이쿼리-->
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>
</head>
<body>
<!-- 이미지 삽입 영역 -->
<div class="cover">
    <!-- 메뉴바 + 전체 내용 -->
    <div class="wrapper">
        <ul>
            <a href="/users/home"><li>홈</li></a>
            <a href="/users/deposit"><li>입금</li></a>
            <a href="/users/lookup"><li>조회</li></a>
            <a href="/users/mypage"><li>마이페이지</li></a>
            <a href="/users/logout"><li>로그아웃</li></a>
        </ul>
        <!-- 내용 -->
        <div class="content">
            <!-- 제목 -->
            <div class="title">
                <h1 id="texts"> 결제 내역 조회 </h1>
            </div>

            <div class="container">
                <div class="choice-group">
                    <!-- 전체 -->
                    <label>
                        <a href="/users/lookupAllSearch">
                            <div class="all box">
                                <span> 전체 내역 </span>
                            </div>
                        </a></label>

                    <!-- 대기 -->
                    <label><a href="/users/lookupWaitSearch">
                            <div class="wait box">
                                <span> 입금 대기 내역 </span>
                            </div>
                        </a></label>

                    <!-- 완료 -->
                    <label><a href="/users/lookupConfirmSearch">
                            <div class="complete box">
                                <span> 입금 완료 내역 </span>
                            </div>
                        </a></label>

                    <!-- 지출 -->
                    <label><a href="/users/lookupWithdrawSearch">
                            <div class="complete box">
                                <span> 지출 내역 </span>
                            </div>
                        </a></label>
                </div>

                <div class="table-group">
                    <table class="type09">
                        <thead>
                        <tr>
                            <th scope="cols">일시</th>
                            <th scope="cols">금액</th>
                            <th scope="cols">이름</th>
                            <th scope="cols">상태</th>
                            <th scope="cols">분류</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(var i = 0 ; i < searchLen ; i++) { %>
                            <tr class="viewDetail">
                                <th scope="row"> <%= searchData[i].reg_time %> </th>
                                <td><%= searchData[i].money %></td>
                                <td hidden><%= searchData[i].u_num %></td>
                                <td><%= searchData[i].user_name %></td>
                                <td><%= searchData[i].status %></td>
                                <td><%= searchData[i].kind %></td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>

    function request_ajax(type, url, data, callback) {
        $.ajax({
            url: url,
            type: type,
            data: data,
            dataType: "json",
            success: callback
        });
    }

    $(document).ready(function() {

        $(".viewDetail").click(function() {

            var str = ""
            var tdArr = new Array();	// 배열 선언
            var checkBtn = $(this);

            var jang_num = checkBtn.children().eq(2).text();
            var jsonData = {number:jang_num}
            request_ajax('POST', "/jangboo/viewDetail", jsonData, main);


            // var check = swal({
            //     title: "승인 하시겠습니까?",
            //     icon: "warning",
            //     buttons: true,
            // }) .then(function(check){ <!-- 동기식 : 확인창을 수행 후 밑을 수행 -->
            //     if(check) {
            //
            //         //  포스트 날리면댐
            //         // DB u_num 주고 그 새끼 상태값을 wait -> confirm으로 변경
            //         request_ajax('POST', "/admins/confirmWaitList", jsonData, main);
            //     }
            //
            //     else swal("승인 취소!", "", "error");
            // })


        })

        function main(result) {
            if (result.status == 0) {
                alert(result.message);
            } else {
                swal(result.message)
            }
        }
    });

</script>

</html>